<div class="p-grid">
  <div class="p-col-6 p-offset-3" style="margin-top: 10vh; height: 50vh;">
    <div style="margin: auto;">
      <img [src]="Wineo" alt="Wineo">
    </div>
    <div style="margin: auto;">
      <p style="text-align: justify; text-justify: inter-word;">
        Wineo Code Challenge <br>
        Lorem ipsum dolor sit amet, duo ei novum fabulas, sit velit detracto ne. Pri option concludaturque an, aeque nostrud consectetuer ea sea.
        Et alia cibo accommodare vis, eum ex hinc meis deseruisse. Scripta recusabo mel te, nec odio erat no, dicunt luptatum indoctum vel ad.
        Ubique saperet mentitum vix cu, wisi principes consulatu sea cu.
        Eos vidit qualisque ad. No his erant dissentiunt, no pro ullum definiebas. Ut paulo omittam sensibus vim. Purto nusquam eu per.
        Has euismod invidunt inciderint at. Nec id tibique efficiendi adversarium, qui at eruditi sensibus erroribus. Ei fuisset efficiantur ius, eum
        blandit salutandi cu. Habeo euismod accusamus his ei, an melius equidem fuisset nam.
      </p>
    </div>
  </div>
</div>
