<div class="p-grid">
  <div class="p-col-6 p-offset-3" style="margin-top: 10vh; height: 50vh;">
    <div style="margin: auto;">
      <img [src]="Wineo" alt="Wineo">
    </div>
    <div style="margin: auto;">
      <p style="text-align: justify; text-justify: inter-word;">
        Wineo Code Challenge <br>
        <textarea style="width: 100%" name="" id="" cols="30" rows="10">
          A customer has requested a web-app that can keep track of the customers wine or beer cellar.
          • A list of bottles
          • Detail view
          • Possibility to add new bottles

          The case is estimated to 2-4 hours.

          If you have more time, you may want to add more functionality:
          • Sorting in list view (Sort by name, vineyard, year, etc.).
          • Filtering in list view (filter on vineyard, year, etc.).
          • Add the user's comment / notes / rating.
          • Save entries on the device.

          Your solution will be evaluated on the following:
          • Code quality
          • Code architecture and organization
          • Does the solution work?s
          • Implementing your own creative ideas

          Rules:
          • You can decide which tools you choose.
          • It must be clearly noted if there are parts of the code you have not written yourself.
          • You may want to use a build-setup - this setup is not included in the assessment (please
          supply both source files and a compiled version that works out of the box).
          • Your solution must be handed in as a git repository
          • Add a readme file to the root of the project, explaining your architecture considerations,
          your priorities and whatever else you think could be important for us to know or pay
          attention to.
        </textarea>
      </p>
    </div>
  </div>
</div>
