#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height : 10px;
  display: inline-block;
}
/*#innerContent {*/
/*  padding-top: 50px;*/
/*}*/
