.navbar {
  overflow: hidden;
  position: fixed;
  background: white;
  border: none;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navbar-brand {
  padding: 10px 10px;
}
ul {
  font-weight: bold;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}
